.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
  display: none;
}

@media screen and (max-width: 600px) {
  .bm-burger-button {
    display: block;
  }
}

.bm-burger-bars {
  background: white;
}

.bm-cross-button {
  height: 54px;
  width: 54px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: #113f67;
  padding: 2.5em 1.5em 0;
  padding-top: 5rem;
}
